<style>
body {
  background-color: lightpink;
}

h1 {
  font-family: Book-Antiqua;
  text-align: center;
}

p {
  font-family: Book-Antiqua;
  font-size: 20px;
  text-align: center;
}
h2 {
	font-family: Book-Antiqua;
    text-align: center;
    }
div {
	display: flex;
  justify-content: center;
	}
</style>